@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>En este proyecto encontrará la elaboración del listado de clientes</a>.</p>
</div>
